@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: #fff;  
    font-family: 'Poppins',  
}
img {
    display: flex;
    width: 100%;    
}
.main-container {
    background-color: #18181B;
    width: 100%;    
    background-size: cover;
    background-attachment: fixed;
}
nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    display: flex;    
}

.nav-logo {
    max-width: 100px;    
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
    
}
.navbar-nav{
    margin: auto;
}
.btn-primary{
    margin: auto;
}
.link a{
    text-decoration: none;
    color: #fff;
    padding-bottom: 10px;

}
.link a:hover{
    border-bottom:2px solid blue;
    transition: all 0.3s ease;
}
.link a:hover::after{
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 0rem;    
}
.blur {
    position: absolute;
    box-shadow:  0 0 1000px 50px;    
}
header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
header .container h1{
    margin-bottom: 5rem;
    font-size: 3rem;
    font-weight: 100;
    line-height: 4rem;
}
header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}
header .content p{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
header .image{
    position: relative;
}
header .image img{
    max-width: 500px;
    margin: auto;
    border-radius: 40px;    
}
.container-2{    
    max-width: 1200px;
    justify-content: center; 
    text-align: center;  
    margin: auto;
}
.skills{
    margin:auto;
    color: chocolate; 
}
.experience{
    color: chocolate; 
}
.contact{
    margin: auto;
    max-width: 1200px;
    padding: 2rem;    
    gap: 2rem;
    color: chocolate; 
}
h5 img{      
    width: 50px;
}
.socials{
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: center;
}
footer{
    text-align: center;
    background-color: black;
}
h4{
    margin: 20px; 
    padding: 10px;
}
.skillSet{
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    width: 600px;
    justify-content: center;
    margin: auto;
    margin-bottom: 10%;
}
.skillSet img{
    width: 100px;
    height: 100px;
    margin: 10px;
}
.skillSet img:hover{
    scale: 1.10;
    transition: 0.5s;

}
@media (max-width: 1199px) {

    .container{
        padding-bottom: 20px;
    }
   
    .experience{        
        padding-top: 50px;
        padding-left: 30px;
    }
 
    .skillSet{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        margin-left: 25%;
        margin: auto;
    }
}


@media screen and (max-width: 763px) and (min-width: 440px){
    header{
        display: flex;
        flex-direction: column;
    }
    .main-container{
        background-attachment: fixed;
        background-color: #18181B;        
        width: 745px;
    }
    .content{
        margin: 0 10% 0 10%; 
    }
    .skillSet{
        margin-left: 16%;
    }
}


@media (max-width: 439px){
    .main-container{
        background-size: cover;
        background-color: #18181B;
        width: 800px;
    }
    .content{
        margin: 0 10% 0 10%; 
    }
    header{
        display: flex;
        flex-direction: column;
    }
   
    .skillSet{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin: auto;
        margin-left: 20%;
    }
    
  
}